body {
    background-color: #FFFFFF;
    width: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar {
    background-color: #004A80;
    width: 100%;
    height: 65px;
    text-align: center;
}

.navbar-content {
    max-width: 980px;
    padding: 0.8em 0.5em;
    display: inline-block;
    width: 70%;
}

.navbar-logo {
    display: inline-flex;
    float: left;
}

.navbar-icons {
    display: inline-flex;
    float: right;
}

.logo {
    display: inline-block;
    width: 173px;
    height: 25px;
    vertical-align: middle;
    padding: 1em 0;
}
.icon {
    display: inline-block;
    width: 23px;
    height: 23px;
    vertical-align: middle;
    padding: 1em 0.5em;
}

.icon.lock {
    width: 15px;
    height: 19px;
    padding: 0em;
}

.footer {
    background-color: #FFFFFF;
    width: 100%;
    height: 68px;
    text-align: center;
}

.footer-content {
    display: inline-flex;
    width: 70%;
}

.footer-description {
    text-align: left;
    display: inline-flex;
    width: 80%;
    float: left;
}

.footer-description-text {
    color: #999999;
}

.footer-terms {
    display: inline-flex;
    justify-content: flex-end;
    align-items: center;
    width: 20%;
}

.footer-terms-links {
    color: #004A80;
    font-size: 1em;
    font-weight: bold;
}

a {
    text-decoration: none;
    color: #004A80;
}

.search-container {
    background-color: #004A80;
    text-align: center;
    padding: 3em 0;
}

.content {
    max-width: 980px;
    display: inline-block;
    width: 70%;
}

.title {
    font-size: 2.5em;
    margin: 0 0.5em;
}

.title-white {
    color: #FFFFFF;
}

.title-blue {
    color: #004A80;
}

.description {
    color: #FFFFFF;
    font-size: 1.2em;
    margin: 1em;
}

.description-gold {
    color: #F6BC25;
    font-weight: bold;
}

.search-bar {
    text-align: left;
    display: inline-block;
    width: 100%;
}

.flex-form {
    display: inline-flex;
    width: 100%;
    margin: 1em 0;
}

.search-box-container {
    display: block;
    margin-right: 1em;
    width: 100%;
    position: relative;
    
}

.search-box {
    outline: none;
    font-size: 1em;
    width: 100%;
    padding: 1.1em 0.5em;
    border: 2px solid #FFFFFF;
    border-radius: 3px;
    box-sizing: border-box;
}

.search-box:focus {
    padding-top: 1.7em;
    padding-bottom: 0.5em;
    transition: 0.2s;
    transition-timing-function: ease;
    transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
}

.search-box:not(:placeholder-shown) {
    padding-top: 1.7em;
    padding-bottom: 0.5em;
}

.placeholder {
    font-size: 0.8em;
    pointer-events: none;
    position:absolute;
    top: 1.6em;
    left: 0.5em;
    font-weight: bold;
    transition: 0.2s;
    transition-timing-function: ease;
    transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
    opacity:0.5;
}

.search-box:focus + span, .search-box:not(:placeholder-shown) + .placeholder {
    transform: translateY(-75%);
}

.search-box:focus + span, .search-box:not(:-ms-input-placeholder) + .placeholder {
    transform: scale(0.75) translateY(-100%);
}

.valid {
    border: 2px solid #F6BC25;
}

.invalid {
    border: none;
    border: 2px solid #DC0015;
}

.search-button {
    display: block;
    width: 20%;
    color: #004A80;
    font-weight: bolder;
    font-size: 1.2em;
    background-image: linear-gradient(to right, #F6BC25, #F2DA56);
    border: 2px solid transparent;
    border-radius: 3px;
}

.search-button:hover {
    cursor: pointer;
    background-image: none;
    background-color: #F2DA56;
}

.search-button:active {
    cursor: pointer;
    background-image: none;
    background-color: #F6BC25;
}

.notice-message {
    vertical-align: middle;
    display: inline;
    color: #F6BC25;
    font-size: 0.8em;
    font-weight: bold;
    margin: 0.5em;
}

.information-container {
    background-image: linear-gradient(to bottom, #FFFFFF, #E6E6E6);
    text-align: center;
    padding: 2em 0;
}

.description-grey {
    color: #4A4A4A;
    text-align: left;
}

.description-black {
    color: #000000;
    text-align: left;
}

.features-grid {
    padding: 0;
    list-style-type: none;
    display: grid;
    grid-gap: 1em;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto;
}

.grid-item {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto auto;
}

.grid-item-number {
    margin: 0.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-row: 2;
    font-size: 2.5em;
    font-weight: bold;
    width: 75px;
    height: 75px;
    background-color: #004A80;
    color: #F6BC25;
    border-radius: 50%;
}

.grid-item-text {
    grid-column: 2 / 4;
    grid-row: 1 / span 3;
}

.grid-item-text h3{
    margin: 0;
    font-weight: bold;
    color: #004A80;
    text-align: left;
}

.grid-item-text p{
    color: #000000;
    text-align: left;
}

.card-container {
    margin: 1em;
}

.card-content {
    max-width: 980px;
    display: inline-block;
    width: 70%;
}

.card {
    text-align: left;
    border-radius: 30px;
    box-shadow: 1px 2px 5px #999999;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto;
    grid-template-rows: auto auto auto;
    padding: 2em;
}

.card-icon {
    margin: 0 0.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-row: 1;
    font-size: 2.5em;
    font-weight: bold;
    width: 75px;
    height: 75px;
    background-color: #004A80;
    color: #F6BC25;
    border-radius: 50%;
}

.card-title {
    grid-row: 1;
    grid-column: 2 / span 6;
}

.card-title h3{
    color: #004A80;
    font-size: 2em;
    font-weight: bold;
    margin: 0;
}

.card-title p{
    margin: 0.5em 0;
}

.card-body {
    grid-row: 2 / span 2;
    grid-column: 2 / span 6;
    display: grid;
    grid-template-columns: [first] 50% [col2-start] 50% [end];
}

.info-field {
    box-sizing: border-box;
}

.info-field h4{
    margin: 0;
    margin-top: 0.8em;
    color: #004A80;
    font-weight: bold;
    font-size: 1.2em;
}

.info-field p{
    margin: 0.5em 0;
    margin-right: 0.5em;
    word-wrap: break-word;
}

@media (min-width: 769px) and (max-width: 1024px) {
    .navbar-content, .content, .footer-content, .card-content {
        box-sizing: border-box;
        width: 90%;    
    }
    
    .search-container, .information-container {
        padding: 2em 0;
    }
    
    .search-bar {
        display: inline-block;
        width: 90%;
    }
    
    .search-button {
        width: 30%;
    }
    
    .features-grid {
        padding-right: 1em;
    }
    
    .grid-item {
        display: grid;
        grid-template-columns: auto auto auto auto;
        grid-template-rows: auto auto;
    }
    
    .grid-item-number {
        margin: 0 0.3em;
        grid-row: 1;
        font-size: 1.8em;
        width: 50px;
        height: 50px;
    }
    
    .grid-item-text {
        grid-column: 2 / 4;
        grid-row: 1 / span 2;
    }
    
    .card {
        padding: 2em;
    }
    
}

@media (min-width: 481px) and (max-width: 768px) {
    .navbar-content, .content, .footer-content, .card-content {
        box-sizing: border-box;
        width: 100%;    
    }
    
    .search-container, .information-container {
        padding: 2em 0;
    }
    
    .search-bar {
        display: inline-block;
        width: 90%;
    }
    
    .search-button {
        width: 30%;
    }
    
    .features-grid {
        padding-right: 1em;
    }
    
    .grid-item {
        display: grid;
        grid-template-columns: auto auto auto auto;
        grid-template-rows: auto auto;
    }
    
    .grid-item-number {
        margin: 0 0.3em;
        grid-row: 1;
        font-size: 1.8em;
        width: 50px;
        height: 50px;
    }
    
    .grid-item-text {
        grid-column: 2 / 4;
        grid-row: 1 / span 2;
    }
    
    .footer-content {
        padding: 0 1em;
        display: grid;
        text-align: center;
        margin-bottom: 1em;
    }
    
    .icon.lock {
        display: inline-block;
    }
    
    .notice {
        display: flex;
    }
    
    .notice-message {
        display: inline-block;
        margin: 0 0.5em;
    }
    
    .card {
        padding: 1em;
    }
    
    .card-icon {
        margin: 0 0.3em;
        font-size: 1.8em;
        font-weight: bold;
        width: 50px;
        height: 50px;
    }
    
    .footer-description {
        text-align: left;
        grid-row: 1;
    }
    
    .footer-terms {
        display: inline-flex;
        justify-content: center;
        width: 100%;
        grid-row: 2;
    }
    
    .footer-terms-links {
        margin: 0;
    }
    }
    
    @media (max-width: 480px) {
    .navbar-content, .content, .footer-content, .card-content {
        box-sizing: border-box;
        width: 100%;    
    }
    
    .search-container, .information-container {
        padding: 2em 0;
    }
    
    .flex-form {
        display: inline;
        margin: 0.5em 1em;
    }
    
    .search-bar {
        width: 80%;
    }
    
    .search-box {
        display: inline;
        
    }
    
    .search-button {
        margin-top: 1em;
        width: 100%;
        padding: 0.8em;
    }
    
    .features-grid {
        padding-right: 1em;
        display: flex;
        flex-wrap: wrap;
    }
    
    .grid-item {
        display: grid;
        grid-template-columns: auto auto auto auto;
        grid-template-rows: auto auto;
    }
    
    .grid-item-number {
        margin: 0 0.5em;
        grid-row: 1;
        font-size: 1.8em;
        width: 50px;
        height: 50px;
    }
    
    .grid-item-text {
        grid-column: 2 / 4;
        grid-row: 1 / span 2;
    }
    
    .footer-content {
        padding: 0 1em;
        display: grid;
        text-align: center;
        margin-bottom: 1em;
    }
    
    .icon.lock {
        display: inline-block;
    }
    
    .notice {
        display: flex;
    }
    
    .notice-message {
        display: inline-block;
        margin: 0 0.5em;
    }
    
    .card {
        padding: 1em;
    }
    
    .card-body {
        display: inline;
    }
    
    .card-icon {
        display: none;
        margin: 0;
    }
    
    .footer-description {
        text-align: left;
        grid-row: 1;
    }
    
    .footer-terms {
        display: inline-flex;
        justify-content: center;
        width: 100%;
        grid-row: 2;
    }
    
    .footer-terms-links {
        margin: 0;
    }
}